html,body,h1,h2,h3,h4,h5,h6,dl,dt,dd,form,p,select,span,i,b{margin: 0;}
ol,ul,th,td,textarea,option{margin: 0;padding: 0;}
ol,ul,li{list-style: none;}
a{text-decoration: none;color: #444444;}
a:hover {color: #922d8d;}
a,img,i,b {display: inline-block;font-style: normal;font-weight: normal;font-family: 'microsoft yaHei', 微软雅黑, arial;}
img {border: none;}
h6 {font-size: 14px;color: #999;}
.typePage {
	width: 1000px;
	margin: 0 auto;
}
.typePage>header {						/* 头部动画 */
	width: 1000px;
	height: 80px;
	position: relative;
}
.typePage>header .panda {				/* 熊猫 */
	width: 40px;
	height: 60px;
	position: absolute;
	bottom: -5px;
}
.typePage>header .bamboo {				/* 竹子 */
	width:100px;
	height: 70px;
	position: absolute;
	bottom: -5px;
	right: 5px;	
}
.greensward {
	height: 8px;
	width: 1000px;
	background: url(../img/greensward.png) repeat-x;
	border-bottom: 1px #92d918 solid;
}
.logo {
	width: 1000px;
	height: 60px;
	margin-top: 15px;
}
.logo>img {
	width: 140px;
	height: 60px;
	border-radius: 16px;
}
